.bg-login-image {
  background-image: url("/img/login-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 640px) {
  .bg-login-image {
    background-size: 240% 100%;
  }
}

@keyframes slide-in{
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in{
  animation: slide-in 0.5s ease-out forwards;
}
@keyframes slide-out{
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to{
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slide-out{
  animation: slide-out 0.5s ease-in backwards;
}

